@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fff;
  --foreground: #171717;
  --color-opinion: rgb(245, 130, 31);
  --color-timeframe: rgb(225, 19, 131);
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-bebas-neue);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --color-opinion: rgb(210, 100, 20);
    --color-timeframe: rgb(200, 10, 120);
    /* --color-opinion: rgb(255, 160, 50);
    --color-timeframe: rgb(235, 50, 160); */
  }
}
