@import "tailwindcss";

@theme {
  --color-orange: rgb(245, 130, 31);
  --color-pink: rgb(225, 19, 131);
}

:root {
  --background: #fff;
  --foreground: #171717;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-bebas-neue);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --color-orange: rgb(210, 100, 20);
    --color-pink: rgb(200, 10, 120);
    /* --color-orange: rgb(255, 160, 50);
    --color-pink: rgb(235, 50, 160); */
  }
}
